<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
</head>
<body>
    <ul class="pager">
        <li class="next"><a href="/Home/Stations">Вперед &rarr;</a></li>
    </ul>
    <div class="row" style="margin: 50px 0">
        <div class="col-md-8" id="map"></div>
        <div class="col-md-4">
            <div class="row">
                <button class="btn-primary btn recognise">Распознать</button>
                <button class="btn-success btn save">Сохранить</button>
            </div>

            <div class="row values well">
                @foreach (var item in ViewBag.Addresses)
                {
                    <p class="address-@item.id">@item.address</p>
                }
            </div>
        </div>
    </div>
</body>      

<script>
    let data = @Json.Serialize(ViewBag.Addresses);
    let marks = [];
    let map;
    for (let i = 0; i < data.length; ++i) {
        data[i]['fill'] = function (results, status) {
            if (results.length == 0) {
                let it = document.getElementsByClassName('address-' + data[i].id);
                it[0].style.color = "red";
                return;
            }
            data[i].coordinates = [results[0].geometry.location.lat(), results[0].geometry.location.lng()];
            let it = document.getElementsByClassName('address-' + data[i].id);
            it[0].style.color = "green";

            marks[i] = new google.maps.Marker({
                position: {'lat': data[i].coordinates[0], 'lng': data[i].coordinates[1]},
                map: map,
                title: data[i].name
            });
        }
    };

    document.getElementsByClassName('save')[0].addEventListener('click',  function () {
        let t = JSON.stringify(data);

        $.ajax({
            type: "POST",
            url: "/Home/Save?type=G",
            data: t,
            contentType: "application/json;charset=utf-8",
            success: function(msg){
                alert( "Data Saved: " + msg );
            }
        });
    });

    document.getElementsByClassName('recognise')[0].addEventListener('click', recogniseTimer);

    let counter = 0;
    let timerId;
    function recogniseTimer(){
        timerId = setInterval(timer, 1000);
    }

    function timer(){
        if (counter > data.length)
            clearInterval(timerId);
        recognise();

    }
    
    function recognise(){
        var geocoder = new google.maps.Geocoder();
        let temp = counter + 10;
        for (; counter < data.length && counter <= temp; ++counter) {
            geocoder.geocode({ 'address': data[counter].address }, data[counter].fill);
        };
    }


   

    function initMap() {
        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 84, lng: 56},
            scrollwheel: true,
            zoom: 8,
            
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLCyVbJQNAWS6PP-fTvaHUEOM9TXwu4gQ&callback=initMap" async defer></script> 

<style>
    #map {
        height: 500px;
        margin: 0 0 10% 0;
    }

    .values {
        max-height: 450px;
        overflow: scroll;
    }

    .row {
        margin: 0 0 20px 0;
    }
</style>