<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
    <ul class="pager">
        <li class="next"><a href="/Home/Stations">Вперед &rarr;</a></li>
    </ul>
<div class="row" style="margin: 50px 0">
    <div class="col-md-8" id="map"></div>
    <div class="col-md-4">
        <div class="row">
            <button class="btn-primary btn recognise">Распознать</button>
            <button class="btn-success btn save">Сохранить</button>
        </div>

        <div class="row values well">
            @foreach (var item in ViewBag.Addresses)
            {
                <p class="address-@item.id">@item.address</p>
            }
        </div>
    </div>
</div>
</body>

<script>
    var data = @Json.Serialize(ViewBag.Addresses);
    var myMap;
    ymaps.ready(init);
    var obj = [];

    function init() {
        myMap = new ymaps.Map('map', {
            center: [57.000873899999988, 80.570321700000022],
            zoom: 10
        }, {
            searchControlProvider: 'yandex#search'
        });

        var myGeocoder;


        $('.recognise').on('click', function () {
            var myGeoObject;

            data.forEach(function(item, i) {
                item.func = function(res) {
                    item.coordinates = res.geoObjects.get(0).geometry.getCoordinates();

                      myGeoObject = new ymaps.GeoObject({
                          geometry: {
                              type: "Point",
                              coordinates: res.geoObjects.get(0).geometry.getCoordinates()
                          },
                          properties: {
                              iconContent: '',
                              balloonContent: 'Эта метка была поставлена тут для адреса: <strong>' +  res.metaData.geocoder.request +
                                  '</strong>. Если местоположение некорректно, передвиньте метку. По данному адресу должна находиться: <strong>' + item.name + '</strog>',
                          }
                      },
                    {
                        preset: 'twirl#darkgreenIcon',
                        draggable: true
                    });

                      myMap.geoObjects.add(myGeoObject);

                    $('.address-' + item.id).css('color', 'green');

                      myGeoObject.events.add('drag', function (e) {
                          console.log(e.get('target').geometry.getCoordinates());
                          item.coordinates = e.get('target').geometry.getCoordinates();

                      });
                };

                myGeocoder = ymaps.geocode(item.address);
                id = item.id;

                myGeocoder.then(
                    item.func,
                    function (err) {
                        console.log('error');
                        $('.address-' + item.id).css('color', 'red');
                    }
                );
            });
        });

        $('.save').on('click', function() {
            let t = JSON.stringify(data);

            $.ajax({
                type: "POST",
                url: "/Home/Save",
                data: t,
                contentType: "application/json;charset=utf-8",
                success: function(msg){
                    alert( "Data Saved: " + msg );
                }
            });
        });

        $('.route').on('click', function() {
            data.forEach(function(item, i) {
                var multiRoute = new ymaps.multiRouter.MultiRoute({
                    referencePoints: [
                        item.coordinates,
                        data[0].coordinates,
                    ],
                    params: {
                        results: 1
                    }
                });

                myMap.geoObjects.add(multiRoute);
            });
        });
    }


</script>
<style>
     #map {
    height: 500px;
     margin: 0 0 10% 0;
    }
     .values {
         max-height: 450px;
         overflow: scroll;
     }
     .row {
         margin: 0 0 20px 0;
     }
</style>