<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

</head>
<body>
    <ul class="pager">
        <li class="next"><a href="/Home/Stations">Вперед &rarr;</a></li>
    </ul>
    <div class="row">
        <div class="col-md-3" id="map">

        </div>
        <div class="col-md-9 item-list" ng-controller="MerdgeController">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Адреса</th>
                        <th>Яндекс</th>
                        <th>Google</th>
                        <th>Результат</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><span ng-click="AcceptYandex()" class="glyphicon glyphicon-ok"></span></td>
                    <td><span ng-click="AcceptGoogle()" class="glyphicon glyphicon-ok"></span></td>
                </tr>
                    <tr ng-repeat="item in data" class="data-{{item.id}} data">
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td ng-click='search(item.coordinates[0], item.coordinates[1], item.id)' ng-dblClick="YdoubleClick(item)" 
                            class="Y-{{item.id}} Y-data data"> {{item.coordinates[0]}} {{item.coordinates[1]}}</td>
                        <td ng-dblClick="GdoubleClick(item)" class="G-{{item.id}} G-data data">{{item.coordinates[2]}} {{item.coordinates[3]}}</td>
                        <td ng-bind="result[item.id]"></td>
                    </tr>
       
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller('MerdgeController', function($scope) {
        var myMap;
        ymaps.ready(init);
        var myGeoObject;

        function init() {
            myMap = new ymaps.Map('map', {
                center: [57.000873899999988, 80.570321700000022],
                zoom: 10
            }, {
                searchControlProvider: 'yandex#search'
            });
          }

        $scope.AcceptYandex = function() {
            $('.data').removeClass('success');
            $('.Y-data').addClass('success');
        };

        $scope.AcceptGoogle = function() {
            $('.data').removeClass('success');
            $('.G-data').addClass('success');
        };

        $scope.result = [];

        $scope.YdoubleClick = function(item) {
            $scope.result[item.id] = [item.coordinates[0], item.coordinates[1]];
        };

        $scope.GdoubleClick = function(item) {
            $scope.result[item.id] = [item.coordinates[2], item.coordinates[3]];
        }

        $scope.search = function(latitude, longitude, id) {
            myMap.geoObjects.removeAll();
            $('.data').removeClass('success');
            $('.Y-' + id).addClass('success');
            ymaps.geocode([longitude, latitude], {
                results: 1
            }).then(function (res) {
                myGeoObject = new ymaps.GeoObject({
                    geometry: {
                        type: "Point",
                        coordinates: res.geoObjects.get(0).geometry.getCoordinates()
                    },
                    properties: {
                        iconContent: '',
                        balloonContent: '',
                    }
                },
                   {
                       preset: 'twirl#darkgreenIcon',
                       draggable: true
                   });

                myMap.geoObjects.add(myGeoObject);
                myMap.setCenter(res.geoObjects.get(0).geometry.getCoordinates());

                
                myGeoObject.events.add('drag', function (e) {
                    $scope.data.forEach(function(item, i) {
                        if (item.id == id) {
                            item.coordinates[0] = e.get('target').geometry.getCoordinates()[1];
                            item.coordinates[1] = e.get('target').geometry.getCoordinates()[0];
                        }
                    });
                });

            });
        };


        $scope.data = @Json.Serialize(ViewBag.Schools);
        console.log($scope.data);
    });

   
    var data = @Json.Serialize(ViewBag.Schools);
    data.forEach(function(item, i) {
        if (item.same == true) {
            $('.data-' + item.id).addClass('success');
        }
    });


</script>


<style>
    .glyphicon {
        color: #1CB55C;
    }
    .glyphicon:hover {
        cursor: pointer;
        color: #20C565; 
    }
    #map {
        height: 300px;
    }
    .Y-data:hover, .G-data:hover {
        cursor: pointer;
    }
    .item-list {
        height: 500px;
        overflow: scroll;
    }
</style>
